#app {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
	color: lightgray;
	font-weight: bold;
	font-size: 2.5rem;
}

h2 {
	color: darkgray;
	font-weight: bold;
	font-size: 1.5rem;
}

#topBar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	height: 2rem;
}

#horizontalLineContainer {
	width: 100%;
	height: 1px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#horizontalLine1 {
	width: 100%;
	margin-left: 2rem;
	margin-right: 2rem;
	height: 1px;
	background-color: black;
}

#horizontalLine2 {
	width: 100%;
	margin-left: 2rem;
	margin-right: 2rem;
	height: 1px;
	background-color: black;
}

#horizontalLineText {
	border: 1px solid black;
	border-radius: 1rem;
	padding: 0.3rem;
	background-color: lightgray;
}

@media only screen and (min-width: 768px) {
	#horizontalLine1 {
		margin-left: 4rem;
		margin-right: 4rem;
	}
	#horizontalLine2 {
		margin-left: 4rem;
		margin-right: 4rem;
	}
}

#main {
	display: flex;
	flex-direction: column;
	flex: 1 1 0%; /* fill remaining space */
	/* height: calc(100vh - 2rem - 1px); */
	justify-items: center;
	align-items: center;
	width: 100%;
}

#listTitleContainer {
	display: flex;
	flex-direction: row;
	/* flex: 2 1 auto; */
	padding: 1rem;
}

#newItemContainer {
	display: flex;
	flex-direction: row;
	max-width: 30rem;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

#newItemBox {
	display: flex;
	flex-direction: row;
	padding: 0.5rem;
	border: 1px solid lightgray;
	border-radius: 2rem;
	box-shadow: -1px 2px 0.5rem 0.1rem lightgray;
	min-width: 15rem;
}

#listView {
	display: flex;
	flex-direction: column;
	flex: 2 1 auto;
	justify-content: start;
	align-items: center;
	padding: 1rem;
	max-width: 30rem;
}

#newItemBox {
	border: 0;
}

#item1 {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	border-bottom: 1px solid lightgray;
	padding: 0.5rem 0 0.5rem 0;
}
#item2 {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	border-bottom: 1px solid lightgray;
	padding: 0.5rem 0 0.5rem 0;
}
#item3 {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	border-bottom: 1px solid lightgray;
	padding: 0.5rem 0 0.5rem 0;
}

#item1LeftContainer {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}
#item2LeftContainer {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}
#item3LeftContainer {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

#signInViewContainer {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}

#registerContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 300px;
}

#register {
	padding-bottom: 1rem;
}

#signin {
	padding-bottom: 1rem;
}

#signInContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 300px;
}

#emailDiv1 {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-self: start;
	justify-content: space-between;
	width: 100%;
	padding-bottom: 1rem;
}
#passwordDiv1 {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-self: start;
	justify-content: space-between;
	width: 100%;
	padding-bottom: 0.5rem;
}
#emailDiv2 {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-self: start;
	justify-content: space-between;
	width: 100%;
	padding-bottom: 1rem;
}
#passwordDiv2 {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-self: start;
	justify-content: space-between;
	width: 100%;
	padding-bottom: 0.5rem;
}
#passwordError1 {
	font-size: 0.8rem;
	height: 1rem;
	width: 100%;
	overflow-wrap: break-word;
	font-weight: bold;
	color: darkred;
	overflow: hidden;
	padding-bottom: 1rem;
}
#signInError {
	font-size: 0.8rem;
	height: 1rem;
	width: 100%;
	overflow-wrap: break-word;
	font-weight: bold;
	color: darkred;
	overflow: hidden;
	padding-bottom: 1rem;
}
